# комментарий — эта строка игнорируется
# не обрабатывать файлы, имя которых заканчивается на .a
*.csv
*.xlsx
# игнорировать doc/notes.txt, но не doc/server/arch.txt
doc/*.txt
# игнорировать все .txt файлы в каталоге doc/
doc/**/*.txt